html {
  background-color: #0d0f13;
  overflow: hidden;
  font-family: "Fira Sans Light", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #16171d;
  text-align: center;
  height: 100px;
  width: 100%;
  color: white;
  font-size: 36px;
}

.container {
  width: auto;
  display: flex;
  flex-direction: row;
  margin: 125px 20px 0 40px;
  justify-content: space-between;
  align-items: center;
  color: white;
  gap: 10px;
}

.container h2 {
  font-size: 1.5vw;
  text-align: left;
}

.container p {
  text-align: left;
  font-size: 1vw;
}

.hotelName {
  color: grey;
  font-style: italic;
}

.hotelPrice {
  color: grey;
}